# Ignore the following files
/build*/
CMakeLists.txt.user*
/compile_commands.json
.clangd
.idea
/cmake-build*
.cache
.vscode
.directory
.ccls-cache
cursors/Silver_Dark/build*
cursors/Silver_Light/build*
